{% extends "base.html" %}
{% load story_extras %}

{% block head %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock head %}

{% block content %}
<ol>
{% for story in stories %}
	<li>
		<p>
			<a href="{{ story.url }}">{{ story.title }}</a> 
			<small class="text-muted">
				({{ story.domain }}) 
				{% if user.is_authenticated and story not in liked_stories %}
					<a id="story-vote-{{ story.id }}" class="vote" href="/vote/">vote</a>
				{% endif %}
				<br>
				{{ story.points }} points by {{ story.moderator.username }} {{ story.created_at|age }}
			</small>
		</p>
	</li>
{% endfor %}
</ol>
{% endblock content %}
